.vs
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Pp]ackages/
[Rr]elease/
*.7z
*.bak
*.disabled
*.log
*.old
*.pfx
*.suo
*.user
*.zip
global.json
docs/images-raw/
src/*.Testing/*.xml
src/CymaticLabs.InfluxDB.Studio/obj/
